* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.box {
 
    background: black;
    overflow: hidden;
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    color: white;
}

.box h1 {
    font-size: 6vw;
    text-wrap: nowrap;
    animation: move 5s linear infinite;
}

@keyframes move{
    to{
        transform: translate(0%);
    }    
    from{
        transform: translate(100%);
    }
}